{% extends "museum_site/base.html" %}

{% block content %}
    {% load static %}

    <div class='row artwork-body'>
        <div class='col' style="margin-left: 0.25em;">
            <img src="{% static 'img/images/' %}{{ artwork.img_file }}" alt="{{ artwork.title }}"
                 class="img-fluid"/>
        </div>

        <div class='col' style="margin-right: 0.25em;">
            <span class="text-title">{{ artwork.title }}</span>

            <hr class="full-separator"/>

            {% if artists %}
                <div><strong>Artists:</strong></div>
                    <ul class="list">
                        {% for e in artists %}
                            <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                <div>
            {% else %}
                {% if artwork.artist %}
                <div>
                    <strong>Artist:</strong>
                    {% for idx, name in artwork.artist %}
                        {% if idx > 0 %}
                            <span>, </span>
                        {% endif %}
                        <span>{{ name }}</span>
                    {% endfor %}
                </div>
                {% endif %}

                {% if artwork.birth_date %}
                <div>
                    <strong>Born:</strong>
                    {% for idx, date in artwork.birth_date %}
                        {% if idx > 0 %}
                        <span>, </span>
                        {% endif %}
                        <span>{{ date }}</span>
                    {% endfor %}
                </div>
                {% endif %}

                {% if artwork.death_date %}
                <div><strong>Died:</strong>
                    {% for idx, date in artwork.death_date %}
                        {% if idx > 0 %}
                            <span>, </span>
                        {% endif %}
                        <span>{{ date }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            {% endif %}

            {% if artwork.earliest_date and artwork.latest_date %}
                {% if artwork.earliest_date == artwork.latest_date %}
                    <div><strong>Year active:</strong> {{ artwork.earliest_date }}</div>
                {%  else %}
                    <div>
                        <strong>Years active:</strong> {{ artwork.earliest_date }} &ndash; {{ artwork.latest_date }}
                    </div>
                {% endif %}
            {% endif %}

            <hr class="full-separator"/>

            {% if artwork.classification %}
                <div><strong>Classification:</strong> {{ artwork.classification }}</div>
            {% endif %}

            {% if artwork.collection %}
                <div><strong>Collection:</strong> {{ artwork.collection }}</div>
            {% endif %}

            {% comment %}Show the button "Show More" and details only if this content exists{% endcomment %}
            {% if artwork.linked_topics or artwork.linked_terms or artwork.medium %}
                <div class='expandable-content'>
                    <div id='more-content' class='collapse in' aria-expanded='false'>
                        {% if artwork.linked_topics %}
                            <div><strong>Topics:</strong></div>
                            <ul class="list">
                                {% for topic in artwork.linked_topics %}
                                    <li>{{ topic }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if artwork.linked_terms %}
                            <div><strong>Terms:</strong></div>
                            <ul class="list">
                                {% for term in artwork.linked_terms %}
                                    <li>{{ term }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if artwork.medium %}
                            <div><strong>Medium:</strong></div>
                            <ul class="list">
                                {% for medium in artwork.medium %}
                                    <li>{{ medium }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <br />
                    <a role="button" class="collapsed" id='show-more-button'
                       data-toggle="collapse" aria-expanded="false" aria-controls="more-content"
                       href="#more-content"
                       onclick="return interaction_event(
                               'show-more',
                               '{{ artwork.art_id }}',
                               '{{ page_id }}',
                               '{{ csrf_token }}'
                               );"></a>
                </div>
            {% endif %}

            
            
            {% if study_context == 'focus' %}
                <hr class="full-separator"/>

                <h5>Rate me:</h5>
                <div class="rating">
                    {% with rating_list='5 4 3 2 1' %}
                        {% for rating_value in rating_list.split %}
                            <input
                                    type="radio" name="rating" id="{{ rating_value }}" value="{{ rating_value }}"
                                    onclick="return rating_event(
                                            '{{ artwork.art_id }}',
                                            '{{ rating_value }}',
                                            '{{ csrf_token }}'
                                            );">
                            <label for='{{ rating_value }}'>☆</label>
                        {% endfor %}
                    {% endwith %}
                </div>
            {% endif %}

            {% if study_context == 'focus' %}
                <hr class="full-separator"/>

                <h5>Similar artworks:</h5>
                <p>{{ study_context }}</p>
            {% endif %}

        </div>
    </div>

    {% comment %}
        {% if artwork_rating %}
            <script type="text/javascript">
                $(function () {
                    var $radios = $('input:radio[name=rating]');
                    $radios.filter("[value='{{ artwork_rating }}'").prop('checked', True)
                });
            </script>
        {% endif %}
    {% endcomment %}
    </div>
{% endblock content %}
