{% extends "museum_site/base.html" %}

{% block content %}

    {% include 'museum_site/information_sheet.html' %}

    {% include 'museum_site/demographic_form.html' %}

    <div class = 'container my-4'>
        <div id = 'multi-item-example' class = 'carousel slide carousel-multi-item' data-ride = 'carousel'>
            <div class = 'carousel-inner' role = 'listbox'>
                <div class = 'row'>
                    {% for art in page_obj %}
                        <div class = 'col-md-2'>
                            <div class = 'card mb-2' id = 'artwork-card'>
                                <div class = 'artwork-img-style'>
                                    <a href = "{% url 'artwork' art.art_id %}"
                                        onclick = "return interaction_event('click', '{{ art.art_id }}', '{{ page_id }}', '{{ csrf_token }}');">
                                        <img class = 'card-img-top' src = "{{ art.img_thumbnail_url }}"
                                            alt = "{{ art.title }}" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>No results match the search query</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class = 'pagination'>
        <span class = 'step-links'>
            {% if page_obj.has_previous %}
                <a href = "?page=1" onclick = "return interaction_event('click', 'first_page', '{{ page_id }}', '{{ csrf_token }}');">&laquo; first</a>
                <a href = "?page={{ page_obj.previous_page_number }}" onclick = "return interaction_event('click', 'prev_page_{{ page_obj.previous_page_number }}', '{{ page_id }}', '{{ csrf_token }}');">previous</a>
            {% endif %}

            <span class = 'current'>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href = "?page={{ page_obj.next_page_number }}" onclick = "return interaction_event('click', 'next_page_{{ page_obj.next_page_number }}', '{{ page_id }}', '{{ csrf_token }}');">next</a>
                <a href = "?page={{ page_obj.paginator.num_pages }}" onclick = "return interaction_event('click', 'last_page', '{{ page_id }}', '{{ csrf_token }}');">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}
