{% extends "museum_site/base.html" %}

{% load museum_site_extras %}

{% block content %}
    {% load static %}

    {% if study_context == "user" %}
        {% include 'museum_site/information_sheet.html' %}

        {% include 'museum_site/demographic_form.html' %}

        {% include 'museum_site/domain_knowledge_form.html' %}
    {% endif %}

    {% comment %} <div class="search-bar" style="position: relative; top: -3px;">
        {% include 'museum_site/searchbar.html' %}
    </div> {% endcomment %}

    <hr class="separator"/>

    <div class = 'container my-4'>
        <div id = 'multi-item-example' class = 'carousel slide carousel-multi-item' data-ride = 'carousel'>
            <div class = 'carousel-inner' role = 'listbox'>
                <div class='row'>
                    {% for art in artworks %}
                        <div class = 'col-md-2' style="padding-top: 20px; padding-bottom: 20px;">
                            <div class = 'card mb-2' id = 'artwork-card'>
                                <div class='artwork-img-style'>
                                    <a href = "{% url 'museum_site:artwork' art.art_id %}"
                                        onclick = "return interaction_event('click', '{{ art.art_id }}', '{{ page_id }}', '{{ csrf_token }}');">
                                        {% if art.art_id in already_selected %}
                                            <img class = 'card-img-top' style="width: 150px; height: 180px; background-size: 300% 300%; opacity: 0.25;" src = "{% static 'img/images/' %}{{ art.img_file }}"
                                                alt = '{{ art.title|cut:"'" }}' />
                                        {% else %}
                                            <img class = 'card-img-top' style="width: 150px; height: 180px; background-size: 300% 300%;" src = "{% static 'img/images/' %}{{ art.img_file }}"
                                                alt = '{{ art.title|cut:"'" }}' />
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div><span class="text-description">{{ art.title|cut:"'" }}</span></div>
                            <div><hr class="separator tight"/></div>
                            <!-- Displays multiple artists as comma separated lists -->
                            <div class="text-artist" style="display: block;">{{ art.artist }}</div>
                            <!-- Displays multiple artists in separated lines -->
                            {% comment %}
                                {% for artist in art.artist %}
                                    <div class="text-artist">
                                        {{ artist }}
                                    </div>
                                {%  endfor %}
                            {% endcomment %}
                        </div>
                    {% empty %}
                        <span style="margin-left: auto; margin-right: auto">No results match the search query</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <hr class="separator"/>

    {% if page_obj.paginator.num_pages > 1 %}

        {% include 'museum_site/paging.html' %}

        <div class="search-bar-bottom">
            {% include 'museum_site/searchbar.html' %}
        </div>
    {% endif %}
{% endblock content %}
