body {
    padding-top: 5rem;
}

.signup-form {
    padding: 3rem 1.5rem;
    text-align: center;
}

.navbar-brand img {
    height: 50px;
    /* put value of image height as your need */
    float: left;
    margin-right: 7px;
  }