.artwork-img-style {
    width: 130px;
    height: 125px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.artwork-img-style img {
    height: 100%;
    flex: 1;
}

#artwork-card {
    width: fit-content;
}